.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}
.item1{
	margin-left: 70px;
}
.item2{
	grid-area: 1/2/3/4;
}
.item4{
	margin-left: 170px;
}
.item5{
	margin-right: 70px;
}