body{
	display: flex;
	background-color: #D21D1D;
	flex-flow: column wrap;
	padding: 10px;
	margin: 0 0 0 0;
	width: 750px;
	height: 750px;
}
article{
	margin: 10px;
	background-color:white;
	width: 350px;
}	
*{
	margin: 0;
	padding:0;
}
p{
	padding: 5px 0px;
}